.main {
    border-radius: 3px;
    height: 700px;
  
}

.example_header {
    border-radius: 3px 3px 0px 0px;; 
    font-size: 24px;
}
.menu {
    
}
.video{
    width: 100%;
    height: auto;
}
.demo-header {
    font-size: 24px;
    border-radius: 3px 3px 0px 0px;
}
.image {
    width: 150px;
}
.menu-item {
    width: 100%;
    height: 30px;
    margin-bottom: 2px;
}

.description , .code{
    /* height: max-content; */
    width: 100%;
}

.content {
    overflow-y: auto;
    justify-content: start;
}