.example-center{
    justify-content: center;
    align-items: center;
    display: flex;
    gap:10px;
}
.example-content{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0rem 2rem 0rem 2rem;
    box-sizing: border-box;
}
.menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.video{
    width: 100%;
    height: auto;
}
.image {
    width: 150px;
}
.menu-item {
    height: fit-content;
    margin-bottom: 2px;
    justify-content:start;
    text-align: left;
    box-shadow: none;
}
.sidebar{
    width: 15%;
}
.main-content{
    width: 85%;
}

@media screen and (min-width: 600px) and (max-width: 1279px){
    .sidebar{
        width: 32%;
    }
    .main-content{
        width: 68%;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1550px){
    .sidebar{
        width: 27%;
    }
    .main-content{
        width: 73%;
    }
}
@media screen and (min-width: 1550px) and (max-width: 1724px){
    .sidebar{
        width: 22%;
    }
    .main-content{
        width: 78%;
    }
}
.search-input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' cx='19.5' cy='12.5' r='8.5'/%3E%3Cpath fill='none' stroke='%23fff' stroke-width='2' stroke-miterlimit='10' d='m4 28 10-10'/%3E%3C/svg%3E");
    background-position: .4rem .5rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 3rem;
    font-size: 16px;
    padding: 12px 20px 12px 50px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}